[POSTGRESQL]
host = localhost
user = amelie
password = amelie

[PRESENTATION]
title = hpaste
perpage = 30
defaultpage = pastes
templates = templates

[THIRDPARTY]
analytics = 

[DIRECTORIES]
pastesdir = pastes