<div class="hpaste-create-new-paste hpaste-white-section hpaste-vertically-adjacent">
  <h2 class="hpaste-section-title">Create new paste</h2>
  <div class="hpaste-new-paste-form">
    <$NEW_PASTE_FORM$>
    <div class="hpaste-clear"></div>
  </div>
</div>
<div class="hpaste-latest-pastes hpaste-black-section hpaste-vertically-adjacent">
  <h2 class="hpaste-section-title">Latest pastes</h2>
  <$LATEST_PASTES$>
  <div class="hpaste-clear"></div>
  <p class="hpaste-browse-all"><a href="/browse">Browse all pastes</a></p>
</div>
