<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title><$TITLE$> - hpaste: Haskell pastebin</title>
    <link rel="stylesheet" href="/hpaste.css" type="text/css" media="screen">
    <script type="text/javascript" src="/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/jquery.cookie.js"></script>
    <script type="text/javascript" src="/hpaste.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body id="<$NAME$>">
    <div class="hpaste-wrap" id="hpaste-wrap">
      <script type="text/javascript">document.getElementById('hpaste-wrap').className="hpaste-wrap-fixed"</script>
      <div class="hpaste-header">
        <a class="hpaste-logo" href="/">
          <img src="/hpaste.png" title="Back to home" 
               alt="hpaste logo"
               height="42" width="188"/>
        </a>
        <div class="hpaste-nav">
          <script type="text/javascript">layout_switcher();</script>
        </div>
      </div>
      <div class="hpaste-content">
        <$PAGE$>
        <div class="hpaste-footer">
          <p>
            <a href="http://github.com/chrisdone/amelie">Web site
              source code on Github</a>
            /
            <a href="http://tryhaskell.org/">Try Haskell!</a>
            /
            <a href="http://book.realworldhaskell.org/">Real World
              Haskell</a>
            /
            <a href="http://haskell.org/">Haskell.org</a>
            /
            <a href="http://planet.haskell.org/">Planet Haskell</a>
          </p>
        </div>
      </div>
    </div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<$ANALYTICS$>']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
