body#new form label {
    display:block;
    float:left;
    clear:left;
    width:5em;
    margin:0;
    padding:0;
}
body#new form textarea, body#new form input, body#new form select {
    float:left;
}
body#new form .submit {
    margin-left:6em;
    clear:both;
}