/******************************************************************************
 * Standard element styles
 */
* { 
    margin: 0;
    padding: 0;
}
body {
    font-family: 'DejaVu Sans', sans-serif;
}
img { 
    border:0; 
}
li {
    list-style-type: none;
}
a { 
    text-decoration: none; 
}

/******************************************************************************
 * Side-wide layout
 */
div.hpaste-wrap { 
    padding: 20px;
    min-width: 500px;
    max-width: 790px;
    margin-left: auto;
    margin-right: auto;
}
div.hpaste-header + div.hpaste-content {
    margin-top: 10px;
}
div.hpaste-vertically-adjacent + div.hpaste-vertically-adjacent {
    margin-top: 10px;
}
div.hpaste-white-section {
    border: 2px solid #eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 10px;
}
div.hpaste-black-section {
    background: #453d5b;
    border: 2px solid #a9a0d2;
    border-radius: 5px;
    -moz-border-radius: 5px;
    color: white;
    padding: 10px;
}
div.hpaste-black-section a {
    color: #8ae0c2
}

/******************************************************************************
 * Side-wide styles
 */
div.hpaste-white-section h2.hpaste-section-title {
    color: #2d2542;
    font-size: 1em;
    padding: 0 0 20px 0;
}
div.hpaste-black-section h2.hpaste-section-title {
    color: #fff;
    font-size: 1em;
    padding: 0 0 20px 0;
}
div.hpaste-white-section form input[type=text],
form textarea {
    -moz-border-radius: 2px 2px;
    border-radius: 2px 2px;
    background: #fff url(input-bg.png) no-repeat;
    border:1px solid #BBBBBB;
    padding:3px 4px;
}
div.hpaste-white-section form input[type=text],
div.hpaste-white-section form textarea {
    width: 200px;
}
div.hpaste-white-section form input[type=text]:focus,
div.hpaste-white-section form textarea:focus {
}
div.hpaste-clear { 
    clear: both;
}

/******************************************************************************
 * pastes.html
 */
div.hpaste-latest-pastes table { 
    width: 100%;
    margin: 0 10px 10px 10px;
}
div.hpaste-latest-pastes table th {
    text-align: left;
    font-weight: bold;
}

/******************************************************************************
 * pastes.html/new.html
 */
div.hpaste-new-paste-form form li {
    margin-bottom: 10px;
}
div.hpaste-new-paste-form form {
    padding: 0;
}
div.hpaste-new-paste-form form li label {
    display: block;
    float: left;
    width: 100px;
}
div.hpaste-new-paste-form form li div {
    padding: 0 10px 0 0;
}
div.hpaste-new-paste-form form li div textarea {
    font-size: 12px;
    font-family: monospace;
    margin-top:10px;
    clear: left;
    float: left;
    width: 100%;
}
div.hpaste-new-paste-form .submit {
    margin: 10px 0 0 0;
    clear: both;
    float: left;
    padding: 5px 10px 5px 10px;
}
div.hpaste-create-new-paste {
    position:relative;
}
div.hpaste-new-paste-form .top-right-submit {
    position: absolute;
    top: 0;
    right: 10px;
}

/******************************************************************************
 * new.html
 */
div.hpaste-new-paste-form p.errors {
    color: red;
    margin: 0 10px 10px 10px;
}
div.hpaste-new-paste-form p.errors + ul {
    color: red;
    margin: 10px;
}
div.hpaste-new-paste-form p.errors + ul li {
    line-height: 1.7em;
}

/******************************************************************************
 * paste.html
 */
div.hpaste-info li {
    line-height: 1.5em;
}
div.hpaste-info li strong {
    font-weight: normal;
    display: block;
    float: left;
    width: 100px;
}
div.hpaste-paste {
}
table.sourceCode .nums { color: #777; text-align: right; padding-right: 10px; }